
FSAAID/target/*
*.properties
*.png
*.gif
*.html
*.js
*.css
*.jar
*.html


FSAAID/test-output/Default suite/testng-failed.xml
FSAAID/test-output/junitreports/TEST-FSAID.FSAAID.testCase.FSATest_1.xml
FSAAID/test-output/testng-failed.xml
FSAAID/test-output/testng-results.xml
FSAAID/test-output/Default suite/Default test.xml
